.features {
  &-title {
		font-family: $font-title;
		font-size: 1.7em;
		text-align: center;
		font-weight: 500;
		margin: .6em 0
	}
	&-unorder {
		padding: 0;
		list-style: none;
		text-align: center;
	} 
	&-paragraph {
		@extend .hero-paragraph;
		padding: 0 2em 1em;
	}
}

.tabs {
	border: 1px solid red;
	ul {
		padding: 0;
		list-style: none;
	}
 	&-link {
		padding: 1em 0;
		border-bottom: 1px solid $gray-blue;
	}
	&-content {
		display: none;
		/* flex-direction: column; */
	}
	input[id="bookmarking"]:checked{
		padding: 20px;
		& ~ ul #tab-bookmarking {
			border: 1px solid red;
			padding: 20px;
			display: block;
		}
	} 
	input[id="searching"]:checked{
		padding: 20px;
		& ~ ul #tab-searching {
			border: 1px solid red;
			padding: 20px;
			display: block;
		}
	} 
	input[id="sharing"]:checked{
		padding: 20px;
		& ~ ul #tab-sharing {
			border: 1px solid red;
			padding: 20px;
			display: block;
		}
	} 
}
