.features {
  &-title {
		font-family: $font-title;
		font-size: 1.7em;
		text-align: center;
		font-weight: 500;
		margin: .6em 0
	}
	&-unorder {
		padding: 0;
		list-style: none;
		text-align: center;
	} 
	&-paragraph {
		@extend .hero-paragraph;
		padding: 0 2em 1em;
	}
}

.tabs {
	/* border: 1px solid red; */
	padding: 0 1em;
/* 	&-grid {
		display: grid;
	} */
	&-radio {
		display: none;
	}
	ul {
		padding: 0;
		list-style: none;
		&:first-child {
			border-top: 1px solid #ccc;
		}
	}
	
 	&-link {
		padding: 1em 0;
		border-bottom: 1px solid #ccc;
		text-align: center;
		position: relative;
			&:hover::before {
				content: "";
				height: 3px;
				display: block;
				position: absolute;
				top: 3.2em;
				left: 0;
				right: 0;
				background-color: red;
			}
		
	}
	
			/* 	&:hover::before {
	}
		content: "";
		height: 2px;
		color: red;
	} */
	&-grid {
		margin-top: 4em;
	}
	&-content {
		display: none;
		/* flex-direction: column; */
	}
	&-image {
		max-width: 100%;
		display: block;
		margin: auto;
	}
	&-description {
		margin-top: 4em;
	}		
	&-h2 {
		@extend .hero-title;
		font-size: 1.5em;
		font-weight: bold;
		padding: 0
	}
	&-p {
		@extend .hero-paragraph;
		padding: 0;
	}
	&-button {
		display: none;
		@extend .hero-button;
	}
	input[id="bookmarking"]:checked{
		padding: 20px;
		& ~ ul #tab-bookmarking {
			/* border: 1px solid red; */
			padding: 20px;
			display: block;
		
		}
	
	} 
	input[id="searching"]:checked{
		padding: 20px;
		& ~ ul #tab-searching {
		/* 	border: 1px solid red; */
			padding: 20px;
			display: block;
		}
	} 
	input[id="sharing"]:checked{
		padding: 20px;
		& ~ ul #tab-sharing {
			/* border: 1px solid red; */
			padding: 20px;
			display: block;
		}
	} 
}

@media screen and (min-width:1024px) {
	.features {
		&-title {
			text-align: center;
			font-size: 2em;
		}
		&-paragraph {
			margin: 0 auto;
			max-width: 550px;
			text-align: center;
		}
	}

	/* component tabs */
	.tabs {
		&-grid1 {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: .5em;
		}
	
		&-description	{
			margin: 0;
			max-width: 420px;
			h2 {
				font-size: 2em;
			}
			p {
				font-size: 1.1em;
			}
		}
		&-image {
			position: relative;
			left: -3.5em;
		}
		input[id="bookmarking"]:checked{
			padding: 0;
			& ~ ul #tab-bookmarking {
				/* border: 1px solid red; */
				padding: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		} 
		input[id="searching"]:checked{
			padding: 0;
			& ~ ul #tab-searching {
			/* 	border: 1px solid red; */
				padding: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		} 
		input[id="sharing"]:checked{
			padding: 0;
			& ~ ul #tab-sharing {
				/* border: 1px solid red; */
				padding: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		} 
		&-button {
			display: block;
			outline: none;
			border: none;
		}
	}
}