.hero {
	&-grid {
		display: grid;
	}
  &-image {
		width: 100%;
		margin: 2em 0 1.5em;
	}
	&-box {
		display: none;
	}
	&-title {
		margin: 0;
		font-size: 2.2em;
		text-align: center;
		font-weight: 500;
	}
	&-paragraph {
		font-family: $font-p;
		text-align: center;
		color: hsl(229, 8%, 60%);
		line-height: 1.7em;
		padding: 0 2em;
		margin-bottom: 1.8em;
	}
	&-buttons {
		display: flex;
		justify-content: center;
		margin-bottom: 8em;
	}
	&-button {
		/* border: 1px solid red; */
		display: inline-block;
		padding: 0.8em 0.6em;
		border-radius: 5px;
		background-color: #5368df;
		color: white;
		text-decoration: none;
		margin-right: 0.7em;
		font-weight: bold;
		text-align: center
	}
	&-button--firefox {
		@extend .hero-button;
		background-color: #e8eaf6;
		color: hsl(225, 3%, 54%);
		font-weight: 700;
	
	}
}

@media screen and (min-width: 1024px) {
	.hero {
		position: relative;
		margin-bottom: 5em;
		&-box {
			display: block;
			position: absolute;
			right: 0;
			top: 35%;
			z-index: -100;
			margin: 0;
			border: 10px solid #5368df;
			border-radius: 1em;
			height: 300px;
			width: 37%;
			/* top left bottom right */
			border-radius: 40% 0 0 40%;
			background-color: #5368df;
			

		}
		&-grid {
			grid-template-columns: 450px 1fr;
			grid-template-areas: "description image";
			align-items: center;
			height: 560px;
		}
		&-image {
			width: 95%;
			justify-self: flex-end;
			
		}
		&-description {
			grid-area: description;
		}
		&-title {
			text-align: left;
		}
		&-paragraph {
			text-align: left;
			padding: 0;
		}

		&-buttons {
			margin: 0;
			justify-content: start;
		}
	}
	 
}

@media screen and (min-width: 1300px) {
	.hero {
		&-image {
			justify-self: end;
			position: relative;
			left: 7em;
		}
		&-description {

		}
		&-title {
			font-size: 2.7em;
		}
		&-paragraph {
			font-size: 1.1em;
		}
	}
}

