/* colors */
/* fonts */
.header {
  position: relative;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.header-image {
  margin: 0;
}

.header-check {
  display: none;
}

.header-label {
  background: url("../../images/icon-hamburger.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  /* z-index: 100; */
}

.header-icon {
  background: url("../../images/icon-facebook.svg");
}

.header .menu {
  display: none;
  /* 		&-icon-f {
			background: url('../../images/icon-facebook.svg');
			background-size: 25px;
			height: 25px;
			width: 25px;
		}
		&-icon-t {
			background: url('../../images/icon-twitter.svg');
		} */
}

.header .menu-mobile {
  padding: 0 25px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu-logo {
  margin: 0;
}

.header .menu-icons {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menu-icon {
  margin: 1em;
}

.header-check:checked ~ .menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(46, 51, 77, 0.89) 98%;
  height: 100vh;
}

.header-check:checked ~ .menu ul {
  list-style: none;
  padding: 0 25px;
}

.header-check:checked ~ .menu li {
  padding: 1em 0;
  border-top: 1px solid #ccc;
}

.header-check:checked ~ .menu a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.header-check:checked ~ .menu button {
  width: 100%;
  height: 3em;
  padding: 0 40px;
  background: none;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: .1em;
}

#checkbox {
  display: none;
}

.hero-image {
  width: 100%;
  margin: 2em 0 1.5em;
}

.hero-title {
  margin: 0;
  font-size: 2.2em;
  text-align: center;
  font-weight: 500;
}

.hero-paragraph, .features-paragraph {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #9194a1;
  line-height: 1.7em;
  padding: 0 3em;
  margin-bottom: 1.8em;
}

.hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8em;
}

.hero-button, .hero-button--firefox {
  /* border: 1px solid red; */
  display: inline-block;
  padding: 0.8em 0.6em;
  border-radius: 5px;
  background-color: #5368df;
  color: white;
  text-decoration: none;
  margin-right: 0.7em;
  font-weight: bold;
}

.hero-button--firefox {
  background-color: #e8eaf6;
  color: #86888d;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .hero img {
    height: 500px;
  }
}

.features-title {
  font-family: "Rubik", sans-serif;
  font-size: 1.7em;
  text-align: center;
  font-weight: 500;
  margin: .6em 0;
}

.features-unorder {
  padding: 0;
  list-style: none;
  text-align: center;
}

.features-paragraph {
  padding: 0 2em 1em;
}

.tabs {
  border: 1px solid red;
}

.tabs ul {
  padding: 0;
  list-style: none;
}

.tabs-link {
  padding: 1em;
  border: 1px solid blue;
}

.tabs-content {
  display: none;
}

.tabs input[id="bookmarking"]:checked {
  padding: 20px;
}

.tabs input[id="bookmarking"]:checked ~ ul #bookmarking {
  border: 1px solid red;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Rubik", sans-serif;
}

.is-hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */