/* colors */
$soft-blue: #333;
$soft-red: hsl(0, 94%, 66%);
$gray-blue: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);
/* fonts */
$font-title: 'Rubik', sans-serif;
$font-p: 'Roboto', sans-serif;
@import "./_header";
@import "./hero";
@import "./features";


body {
	margin: 0;
	padding: 0;
	font-family: $font-p;
}

h1 {
	font-family: $font-title;
}


