/* colors */
$soft-blue: #333;
$soft-red: hsl(0, 94%, 66%);
$gray-blue: hsl(229, 8%, 60%);
$light-gray: #e5e5e5;
$dark-blue: hsl(229, 31%, 21%);
$purple: #5368df;
/* fonts */
$font-title: 'Rubik', sans-serif;
$font-p: 'Roboto', sans-serif;
@import "./_header";
@import "./hero";
@import "./features";
@import "./extension";
@import "./ask";
@import "./contact";
@import "./footer";

body {
	margin: 0;
	padding: 0;
	font-family: $font-p;
}

h1 {
	font-family: $font-title;
}

.is-hidden {
	display: none;
}

.wrapper {
	/* padding: 0 1em; */
	max-width: 1100px;
	margin: 0 auto;
}
