/* colors */
/* fonts */
.header {
  position: relative;
  /* d-none a modo desktop */
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

.header-image {
  margin: 0;
}

.header-check {
  display: none;
}

.header-label {
  background: url("../../images/icon-hamburger.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  /* z-index: 100; */
}

.header-icon {
  background: url("../../images/icon-facebook.svg");
}

.header .menu {
  display: none;
  /* 		&-icon-f {
			background: url('../../images/icon-facebook.svg');
			background-size: 25px;
			height: 25px;
			width: 25px;
		}
		&-icon-t {
			background: url('../../images/icon-twitter.svg');
		} */
}

.header .menu-mobile {
  padding: 0 25px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu-logo {
  margin: 0;
}

.header .menu-icons {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menu-icon {
  margin: 1em;
}

.header-check:checked ~ .menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(46, 51, 77, 0.89) 98%;
  height: 100vh;
}

.header-check:checked ~ .menu ul {
  list-style: none;
  padding: 0 25px;
}

.header-check:checked ~ .menu li {
  padding: 1em 0;
  border-top: 1px solid #ccc;
}

.header-check:checked ~ .menu a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.header-check:checked ~ .menu button {
  width: 100%;
  height: 3em;
  padding: 0 40px;
  background: none;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: .1em;
}

.header-navigation {
  display: none;
}

#checkbox {
  display: none;
}

@media screen and (min-width: 1000px) {
  .header {
    /* d-none burger button */
  }
  .header-label {
    display: none;
  }
  .header-navigation {
    display: block;
  }
  .header-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .header-navigation li {
    margin-left: 1.1em;
  }
  .header-navigation a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
  .header-navigation .header-btn {
    padding: .8em 2em;
    background: #fa5757;
    border-radius: 10px;
    color: white;
    letter-spacing: .1em;
    font-size: 1em;
    margin-left: 1.3em;
  }
}

.hero-grid {
  display: -ms-grid;
  display: grid;
}

.hero-image {
  width: 100%;
  margin: 2em 0 1.5em;
}

.hero-title, .tabs-h2, .extension-description h2, .ask-description h2 {
  margin: 0;
  font-size: 2.2em;
  text-align: center;
  font-weight: 500;
}

.hero-paragraph, .features-paragraph, .tabs-p, .extension-description p, .ask-description p, .carousel-paragraph {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #9194a1;
  line-height: 1.7em;
  margin-bottom: 1.8em;
}

.hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8em;
}

.hero-button, .hero-button--firefox, .tabs-button {
  /* border: 1px solid red; */
  display: inline-block;
  padding: 0.8em 0.6em;
  border-radius: 5px;
  background-color: #5368df;
  color: white;
  text-decoration: none;
  margin-right: 0.7em;
  font-weight: bold;
}

.hero-button--firefox {
  background-color: #e8eaf6;
  color: #86888d;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .hero {
    margin-bottom: 5em;
  }
  .hero-grid {
    -ms-grid-columns: 500px 1fr;
        grid-template-columns: 500px 1fr;
        grid-template-areas: "description image";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-image {
    width: 90%;
    justify-self: flex-end;
  }
  .hero-description {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: description;
  }
  .hero-title, .tabs-h2, .extension-description h2, .ask-description h2 {
    text-align: left;
  }
  .hero-paragraph, .features-paragraph, .tabs-p, .extension-description p, .ask-description p, .carousel-paragraph {
    text-align: left;
  }
  .hero-buttons {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 1300px) {
  .hero-image {
    -ms-grid-column-align: end;
        justify-self: end;
    position: relative;
    left: 7em;
  }
  .hero-title, .tabs-h2, .extension-description h2, .ask-description h2 {
    font-size: 2.7em;
  }
  .hero-paragraph, .features-paragraph, .tabs-p, .extension-description p, .ask-description p, .carousel-paragraph {
    font-size: 1.1em;
  }
}

.features-title {
  font-family: "Rubik", sans-serif;
  font-size: 1.7em;
  text-align: center;
  font-weight: 500;
  margin: .6em 0;
}

.features-unorder {
  padding: 0;
  list-style: none;
  text-align: center;
}

.features-paragraph {
  padding: 0 2em 1em;
}

.tabs {
  /* border: 1px solid red; */
  padding: 0 1em;
  /* 	&-grid {
		display: grid;
	} */
  /* 	&:hover::before {
		content: "";
		height: 2px;
		color: red;
	} */
}

.tabs-radio {
  display: none;
}

.tabs ul {
  padding: 0;
  list-style: none;
}

.tabs ul:first-child {
  border-top: 1px solid #ccc;
}

.tabs-link {
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.tabs-grid {
  margin-top: 4em;
}

.tabs-content {
  display: none;
  /* flex-direction: column; */
}

.tabs-image {
  max-width: 100%;
  display: block;
  margin: auto;
}

.tabs-description {
  margin-top: 4em;
}

.tabs-h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
}

.tabs-p {
  padding: 0;
}

.tabs-button {
  display: none;
}

.tabs input[id="bookmarking"]:checked {
  padding: 20px;
}

.tabs input[id="bookmarking"]:checked ~ ul #tab-bookmarking {
  /* border: 1px solid red; */
  padding: 20px;
  display: block;
}

.tabs input[id="searching"]:checked {
  padding: 20px;
}

.tabs input[id="searching"]:checked ~ ul #tab-searching {
  /* 	border: 1px solid red; */
  padding: 20px;
  display: block;
}

.tabs input[id="sharing"]:checked {
  padding: 20px;
}

.tabs input[id="sharing"]:checked ~ ul #tab-sharing {
  /* border: 1px solid red; */
  padding: 20px;
  display: block;
}

@media screen and (min-width: 1024px) {
  .features-title {
    text-align: center;
    font-size: 2em;
  }
  .features-paragraph {
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
  }
  /* component tabs */
  .tabs-grid1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: .5em;
            column-gap: .5em;
  }
  .tabs-description {
    margin: 0;
    max-width: 420px;
  }
  .tabs-description h2 {
    font-size: 2em;
  }
  .tabs-description p {
    font-size: 1.1em;
  }
  .tabs-image {
    position: relative;
    left: -3.5em;
  }
  .tabs input[id="bookmarking"]:checked {
    padding: 0;
  }
  .tabs input[id="bookmarking"]:checked ~ ul #tab-bookmarking {
    /* border: 1px solid red; */
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tabs input[id="searching"]:checked {
    padding: 0;
  }
  .tabs input[id="searching"]:checked ~ ul #tab-searching {
    /* 	border: 1px solid red; */
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tabs input[id="sharing"]:checked {
    padding: 0;
  }
  .tabs input[id="sharing"]:checked ~ ul #tab-sharing {
    /* border: 1px solid red; */
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tabs-button {
    display: block;
    outline: none;
    border: none;
  }
}

.extension-grid {
  display: -ms-grid;
  display: grid;
  row-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.extension-description {
  margin-bottom: 2em;
}

.extension-description h2 {
  font-size: 1.5em;
}

.extension-description p {
  padding: 0 1.7em;
}

.extension-card {
  min-width: 280px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 0 0 1em;
}

.extension-card img {
  display: block;
  margin: 0 auto;
  padding-top: 2.5em;
}

.extension-card-desc {
  text-align: center;
  margin-bottom: 2.5em;
}

.extension-card-desc h4 {
  margin: 1em 0 0.5em;
}

.extension-card-desc p {
  margin: 0;
}

.extension-button {
  display: block;
  width: 70%;
  margin: 0 auto;
  color: white;
  background-color: #5368df;
  outline: none;
  border: none;
  padding: 1em 1.5em;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .extension {
    margin-top: 9em;
  }
  .extension-description h2 {
    text-align: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
  .extension-description p {
    text-align: center;
    margin: auto;
    padding: 0;
    max-width: 550px;
    font-size: 1.1em;
  }
  .extension-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 2em;
            column-gap: 2em;
    padding: 0 6em;
    height: 418px;
  }
  .extension-card--firefox {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .extension-card--opera {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.ask {
  margin-top: 8em;
}

.ask-description h2 {
  font-size: 1.5em;
}

.ask-description p {
  padding: 0 1.2em;
}

.ask-button {
  display: block;
  margin: 2em auto 5em;
  padding: .9em 1.4em;
  border: none;
  border-radius: .5em;
  background-color: #5368df;
  color: white;
}

.carousel {
  margin-top: 2.5em;
}

.carousel-paragraph {
  text-align: left;
  padding: 0;
}

.carousel-item {
  margin: 0 1em;
}

.carousel-content {
  /*comprobamos si tiene el atributo open*/
}

.carousel-content[open] .carousel-header {
  border: none;
}

.carousel-content[open] .carousel-header::-webkit-details-marker {
  color: #fa5757;
}

.carousel-header {
  border-bottom: 2px solid #e5e5e5;
  padding: 1.5em 0;
  /* Quitamos propiedades que trae por defecto summary y details */
}

.carousel-header:focus {
  outline: none;
}

.carousel-header::-webkit-details-marker {
  float: right;
  color: #333;
}

@media screen and (min-width: 1024px) {
  .ask {
    margin-top: 4em;
  }
  .ask-description h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
  .ask-description p {
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
  }
  /* component carousel */
  .carousel-item {
    max-width: 40%;
    margin: auto;
  }
}

.contact {
  background: #5368df;
  text-align: center;
  color: white;
}

.contact-description {
  padding-top: 3em;
}

.contact-p1 span {
  text-transform: uppercase;
}

.contact-p2 {
  font-size: 1.5em;
  padding: 0 1em;
}

.contact-form {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form input {
  display: block;
  width: 90%;
  height: 2.5em;
  border-radius: .5em;
  outline: none;
  border: none;
}

.contact-form button {
  height: 2.5em;
  width: 90%;
  margin: 1em 0 4em;
  border-radius: .5em;
  outline: none;
  border: none;
  background-color: #fa5757;
  color: white;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 4em;
  }
  .contact-form input {
    max-width: 19%;
    height: 3em;
    padding-left: 1em;
  }
  .contact-form button {
    max-width: 8%;
    height: 3em;
    margin: 0 1em;
  }
}

.footer {
  background-color: #252b46;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer svg {
  margin: 2em 0;
}

.footer-nav {
  list-style: none;
}

.footer-nav li {
  padding: .8em 0;
}

.footer-nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icons svg {
  margin-right: 1em;
}

@media screen and (min-width: 1024px) {
  .footer-grid {
    -ms-grid-columns: 150px 700px 1fr;
        grid-template-columns: 150px 700px 1fr;
  }
  .footer-nav li {
    display: inline;
    margin-right: 2.5em;
  }
  .footer-icons {
    justify-self: flex-end;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Rubik", sans-serif;
}

.is-hidden {
  display: none;
}

.wrapper {
  /* padding: 0 1em; */
  max-width: 1100px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */